x-application-service: &application-service
  build:
    context: ./
    dockerfile: Dockerfile
  stdin_open: true
  tty: true
  depends_on:
    mariadb:
      condition: service_healthy
  environment:
    DJANGO_SETTINGS_MODULE: qsts3.settings
    DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY:-django-insecure-2ir3a7tRpdDNBdymZYdmvQ61Qv1gJF9CyUoxkZcQHqg}
    QSTS_DEBUG: ${QSTS_DEBUG:-True}
    DB_NAME: ${DB_NAME:-quickstatements}
    DB_USER: ${DB_USER:-root}
    DB_PASSWORD: ${DB_PASSWORD:-quickstatements_pass}
    DB_HOST: ${DB_HOST:-mariadb}
    STATIC_ROOT: ${STATIC_ROOT:-/root/www/python/static}
    OAUTH_AUTHORIZATION_SERVER: ${OAUTH_AUTHORIZATION_SERVER:-https://test.wikidata.org}
    DEFAULT_WIKIBASE_URL: ${DEFAULT_WIKIBASE_URL:-https://test.wikidata.org}
  env_file:
    - ./.env
  volumes:
    - ./src:/root/www/python/src
    - ./translations:/root/www/python/translations
    - qs-static-data:/root/www/python/static

services:
  mariadb:
    image: mariadb:11.7.2
    environment:
      MARIADB_DATABASE: ${DB_NAME:-quickstatements}
      MARIADB_ROOT_PASSWORD: ${DB_PASSWORD:-quickstatements_pass}
    volumes:
      - qs-mariadb-data:/var/lib/mysql
    healthcheck:
      test: healthcheck.sh --connect --innodb_initialized
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3

  nginx:
    image: nginx
    ports:
      - "8000:80"
    volumes:
      - qs-static-data:/static
      - ./etc/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      app:
        condition: service_healthy

  app:
    <<: *application-service
    command: >
      /bin/bash -c "
        django-admin collectstatic --no-input &&
        django-admin translate &&
        django-admin migrate &&
        django-admin runserver 0.0.0.0:8000
      "
    healthcheck:
      test: curl --fail http://localhost:8000/ || exit 1
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3

  send_batches:
    <<: *application-service
    command: django-admin send_batches
    depends_on:
      app:
        condition: service_healthy

volumes:
  qs-mariadb-data:
  qs-static-data:
