DJANGO_SECRET_KEY=<SECRETKEY>

OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=

BASE_REST_URL=<optional>
# example: https://test.wikidata.org
# defaults to: https://www.wikidata.org

DB_ENGINE=django.db.backends.mysql
DB_NAME=quickstatements
DB_USER=quickstatements
DB_PASSWORD=quickstatements_pass
DB_HOST=mariadb
DB_PORT=3306

# Set this variable to any value to enter Debug mode
#QSTS_DEBUG=1

TOOLFORGE_TOOL_NAME=
# only use when deploying to Toolforge

# In some setups these need to be set, in order to use mysqlclient driver
#MYSQLCLIENT_CFLAGS="-I/usr/include/mariadb/"
#MYSQLCLIENT_LDFLAGS="-L/usr/lib/x86_64-linux-gnu/ -lmariadb"