{% load quickstatements %}

<script language="javascript">
 const MAX_ENTITIES_PER_REQUEST = 50
 async function loadLabels(container, wikibaseUrl) {
   const spans = container.querySelectorAll("span.wikibase-label[data-entity-id]")

   if (spans.length === 0) return

   const AllEntityIds = Array.from(spans).map(span => span.getAttribute("data-entity-id"))
   const userLanguage = "{{ user|language_preference }}"
   const languages = userLanguage === "en" ? "en" : `${userLanguage}|en`

   let start = 0

   while (start < spans.length) {
     const entityIds = AllEntityIds.slice(start, start+MAX_ENTITIES_PER_REQUEST)
     const url = `${wikibaseUrl}/w/api.php?action=wbgetentities&ids=${entityIds.join('|')}&format=json&languages=${languages}&props=labels&origin=*&languagefallback`

     try {
       const res = await fetch(url)
       const data = await res.json()

       spans.forEach(span => {
         const id = span.getAttribute("data-entity-id")
         const localizedLabel = data.entities?.[id]?.labels?.[userLanguage]?.value
         const englishLabel = data.entities?.[id]?.labels?.en?.value

         const label = localizedLabel || englishLabel

         if (label) {
           span.textContent = label
         }
       })
     } catch (err) {
       console.error("Error fetching localized labels from Wikidata:", err)
     }
     start += MAX_ENTITIES_PER_REQUEST
   }
 }
</script>
