{% load quickstatements %}

<script language="javascript">
 const MAX_ENTITIES_PER_REQUEST = 50
 async function loadLabels(container, wikibaseUrl) {
   const spans = container.querySelectorAll("span.wikibase-label[data-entity-id]")

   if (spans.length === 0) return

   const AllEntityIds = Array.from(
    new Set(
      Array.from(spans).map(span => span.getAttribute("data-entity-id"))
    )
  )
   const userLanguage = "{{ user|language_preference }}"
   const languages = userLanguage === "en" ? "en" : `${userLanguage}|en`

   
   function lexemeLabel(prop){
    const languages = Object.keys(prop)
    const lang = languages.find(language => [userLanguage,  "en"].includes(language)) || languages[0]
    return `<span class="language-id">${lang}:</span> ${prop[lang].value}`
   }

   let start = 0

   while (start < spans.length) {
     const entityIds = AllEntityIds.slice(start, start+MAX_ENTITIES_PER_REQUEST)
     const url = `${wikibaseUrl}/w/api.php?action=wbgetentities&ids=${entityIds.join('|')}&format=json&languages=${languages}&props=labels&origin=*&languagefallback`

     try {
       const res = await fetch(url)
       const data = await res.json()

       spans.forEach(span => {
         const id = span.getAttribute("data-entity-id")
         const localizedLabel = data.entities?.[id]?.labels?.[userLanguage]?.value
         const englishLabel = data.entities?.[id]?.labels?.en?.value

         let label = localizedLabel || englishLabel

         if (!label) {
           const lexemeProperties = ["lemmas", "representations", "glosses"];
           for (const prop of lexemeProperties) {
             if (data.entities?.[id]?.[prop]) {
               label = lexemeLabel(data.entities?.[id]?.[prop]);
               break;
             }
           }
         }

         if (label) {
           span.innerHTML = label
         }
       })
     } catch (err) {
       console.error("Error fetching localized labels from Wikidata:", err)
     }
     start += MAX_ENTITIES_PER_REQUEST
   }
 }
</script>
