{% extends "layout.html" %}
{% load i18n %}

{% block pagetitle %}{% translate 'QuickStatements 3.0 - Last batches' context 'batches-quickstatements-last-batches' %}{% endblock%}

{% block css %}

.list {
  font-size: 13px;
}

.pagination {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding: 0 10px;
}

{% endblock %}

{% block content %}

<div style="display: flex; align-items: center; gap: 10px;">
  <h2> {% translate 'Last batches' context 'batches-last-batches' %}{% if username %}{% translate 'from' context 'batches-from' %} {{username}}{% endif %}</h2>
  <img id="spinner" class="htmx-indicator" style="margin-bottom: 1em;">
</div>

<div
  id="batchesTableDiv"
  hx-get="{% url 'last_batches_table' %}?page={{ page_number|default:'1' }}&page_size={{ page_size|default:'25' }}&username={{ username|default:'' }}"
  hx-trigger="load, every 10s" hx-indicator="#spinner">
  {% include "batches_table.html" %}
</div>

{% endblock %}
