{% extends "layout.html" %}
{% load i18n %}

{% block pagetitle %}QuickStatements 3.0 - {% translate 'Batch' context 'batch-batch' %} #{{ batch.pk }}{% endblock%}

{% block css %}
{% include '_batch_css.html' %}
{% endblock %}

{% block content %}
<div style="display: flex; gap: 10px; flex-wrap: wrap;">

<div>
<hgroup>
  <h2> {% translate 'Batch' context 'batch-batch' %} #{{ batch.pk }} <img id="spinner" class="htmx-indicator"></h2>
  <p><b>{{batch.name}}</b></p>
  <p>{% translate 'Submitted to' context 'batch-submitted-to' %}: {{ batch.wikibase }}</p>
  <p>
    {% translate 'Created by' context 'batch-created-by' %}
    <a href="https://www.wikidata.org/wiki/User:{{batch.user}}">{{ batch.user }}</a>
    [<a href="{% url 'last_batches_by_user' user=batch.user %}">{% translate 'View batches' context 'batch-view-batches' %}</a>]
    [<a href="https://editgroups.toolforge.org/b/QSv3/{{batch.pk}}">{% translate 'Revert / Discuss' context 'batch-revert-discuss' %}</a>]
  </p>
</hgroup>
</div>

{% if user_is_authorized %}
  <div style="flex: 1; display: flex; gap: 10px; align-items: center; justify-content: flex-end;">
  {% if batch.is_initial_or_running %}
    <div>
      <button class="secondary" onclick="showStopModal();" style="margin-bottom: 0px;">{% translate 'Stop execution' context 'batch-stop-execution' %}</button>
    </div>
  {% elif batch.is_stopped %}
    <form method="POST" action="{% url 'batch_restart' pk=batch.pk %}">
      {% csrf_token %}
      <input type="submit" value="Restart" style="margin-bottom: 0px;">
    </form>
  {% elif batch.is_done %}
    {% if batch.is_done_and_has_pending %}
      {% if batch.combine_commands %}
        <form method="POST" action="{% url 'batch_rerun' pk=batch.pk %}">
        {% csrf_token %}
        <button class="secondary" name="uncombine_commands" type="submit" style="margin-bottom: 0px;">
          {% translate "Rerun uncombined" context "batch-button-rerun-uncombined" %}
        </button>
        </form>
      {% endif %}
      <form method="POST" action="{% url 'batch_rerun' pk=batch.pk %}">
      {% csrf_token %}
      <input class="secondary" type="submit" value="{% translate 'Rerun' context 'batch-button-rerun' %}" style="margin-bottom: 0px;">
      </form>
    {% endif %}
    <form method="GET" action="{% url 'batch_report' pk=batch.pk %}">
      <button type="submit" id="downloadReport" style="margin-bottom: 0px;">
        {% translate "Download report" context "batch-button-download-report" %}
      </button>
    </form>
  {% endif %}
  </div>
{% endif %}

</div>


<div id="batchProgressDiv"
      hx-get="{% url 'batch_summary' pk=batch.pk %}"
      hx-trigger="load"
      hx-swap="outerHTML"
      hx-indicator="#spinner"
      style="margin: 20px 0; font-size: 14px;">
      {% translate 'Loading summary...' context 'batch-loading-summary' %}
</div>

<h4>{% translate 'Commands' context 'batch-commands' %}</h4>

<div class="overflow-auto"
    id="batchCommandsDiv"
    hx-get="{% url 'batch_commands' pk=batch.pk %}"
    hx-trigger="load, reload"
    hx-indicator="#spinner"
    hx-swap="innerHTML">
{% translate 'Loading commands...' context 'batch-loading-commands' %}
</div>

<form action="{% url 'batch_stop' pk=batch.pk %}" id="stopbatch" method="POST">
{% csrf_token %}
</form>

<dialog id="confirmStop">
  <article>
    <h2>{% blocktranslate with 1=batch.pk context 'batch-stop-batch' %}Stop batch #{{1}} processing{% endblocktranslate %}</h2>
    <p>
      {% translate 'Are you sure you want to stop the current batch processing?' context 'batch-are-you-sure-you-want-to-stop-the-current-batch-processing' %}
    </p>
    <footer>
      <button class="secondary" onclick="closeStopModal()">{% translate 'No, continue' context 'batch-no-continue' %}</button>
      <button onclick="stop()">{% translate 'Stop processing' context 'batch-stop-processing' %}</button>
    </footer>
  </article>
</dialog>

{% endblock %}

{% block scripts %}
<script>
 function showStopModal() {
   document.getElementById("confirmStop").setAttribute("open", "");
 }

 function closeStopModal() {
   document.getElementById("confirmStop").removeAttribute("open", "");
 }

 function stop() {
   document.getElementById("stopbatch").submit();
 }
</script>
{% include '_batch_load_command_labels.html' %}

<script language="javascript">
 document.addEventListener('htmx:afterSwap', async (event) => {
   if (event.target.id != 'batchCommandsDiv') {
     return
   }
   await loadLabels(event.target, "{{ batch.wikibase.url }}")
 })
</script>
{% endblock scripts %}
