{% load i18n %}
<nav class="desktop-only">
  <ul>
    <li>
      <a href="{% url 'home' %}">
        <span style="font-weight: bold;">
          {% translate "QuickStatements 3.0" context "layout-quickstatements-title" %}
        </span>
      </a>
    </li>
    <li><a href="{% url 'new_batch' %}">{% translate "New batch" context 'layout-navbar-new-batch' %}</a></li>
    <li><a href="{% url 'last_batches' %}">{% translate "Last batches" context 'layout-navbar-last-batches' %}</a></li>
    <li><a href="https://meta.wikimedia.org/wiki/QuickStatements_3.0/Documentation">{% translate "Help" context "layout-navbar-help" %}</a></li>
  </ul>
  <ul>
    <li>{% include "layout_dropdown_languages.html" %}</li>
    <li>
      <details class="dropdown">
        <summary>
          {% if user.is_anonymous %}{% translate "Menu" context "layout-navbar-menu" %}{% else %}{{ user }}{% endif %}
        </summary>
        <ul dir="rtl" style="text-align: center; padding: 0.5em 4em 0.5em 4em;">
          {% include "layout_menu_content.html" with mobile=False %}
        </ul>
      </details>
    </li>
    {% if not user.is_authenticated %}
    <li><a href="{% url 'login' %}">{% translate "Log in" context "layout-navbar-login" %}</a></li>
    {% endif %}
  </ul>
</nav>
