{% load i18n %}
<li><a href="{% url 'new_batch' %}">{% translate "New batch" context "layout-navbar-new-batch" %}</a></li>
<li><a href="{% url 'last_batches' %}">{% translate "Last batches" context "layout-navbar-last-batches" %}</a></li>
<li><a href="{% url 'statistics' %}">{% translate "Statistics" context "layout-navbar-statistics" %}</a></li>
<li><a href="https://github.com/WikiMovimentoBrasil/quickstatements3">{% translate "Repository" context "layout-navbar-repository" %}</a></li>
<li><a href="https://meta.wikimedia.org/wiki/QuickStatements_3.0/Documentation">{% translate "Documentation" context "layout-navbar-documentation" %}</a></li>

