{% extends "layout.html" %}
{% load i18n %}

{% block pagetitle %}{% translate 'QuickStatements 3.0 - Login' context 'login-dev-login' %}{% endblock%}


{% block content %}

<h2>{% translate 'Developer access' context 'login-dev-developer-access' %}</h2>

<p>{% translate 'Submit your access token below.' context 'login-dev-submit-your-access-token-below' %}</p>

<form method="POST">
  <fieldset class="grid">
    {% csrf_token %}
    <input 
        type="password" 
        name="access_token" 
        aria-label="{% translate 'Access Token' context 'login-dev-access-token' %}" 
        placeholder="{% translate 'Access Token' context 'login-dev-access-token' %}">
    <input
      type="submit"
      value="{% translate 'Log in' context 'login-dev-log-in' %}"
    />
  </fieldset>
</form>

{% if error %}
<small>
  <p style="color: red;">{% translate 'Your access token is not valid:' context 'login-dev-your-access-token-is-not-valid' %} {{ error }}</p>
</small>
{% endif %}

{% endblock content %}
