{% load i18n %}

<nav>
  <ul>
    {% if not dropdown_version %}
    <li><a href="{% url 'home' %}"><strong>QuickStatements 3.0</strong></a></li>
    {% endif %}
    <li><a href="{% url 'new_batch' %}">{% translate 'New batch' context 'layout-new-batch' %}</a></li>
    <li><a href="{% url 'last_batches' %}">{% translate 'Last batches' context 'layout-last-batches' %}</a></li>
    <li><a href="{% url 'statistics' %}">{% translate 'Statistics' context 'layout-statistics' %}</a></li>
    <li><a href="https://github.com/WikiMovimentoBrasil/quickstatements3">Git</a></li>
    <li><a href="https://meta.wikimedia.org/wiki/QuickStatements_3.0/Documentation">Docs</a></li>
  {% if dropdown_version %}
    <hr/>
  {% else %}
  </ul>
  <ul>
  {% endif %}
    {% if user.is_anonymous %}
    <li><a href="{% url 'login' %}">{% translate 'Login' context 'layout-login' %}</a></li>
    {% else %}
    <li><a href="{% url 'profile' %}">{% translate 'User' context 'layout-user' %}:{{user}}</a></li>
    <li><a href="{% url 'last_batches_by_user' user=user %}">{% translate 'Your last batches' context 'layout-your-last-batches' %}</a></li>
    {% endif %}
  </ul>
</nav>
