{% extends "layout.html" %}
{% load i18n %}

{% block pagetitle %}{% translate 'QuickStatements 3.0 - New batch' context 'new-batch-quickstatements-new-batch' %}{% endblock%}

{% block content %}

<h2> {% translate 'New batch' context 'new-batch-new-batch' %} </h2>

{% if error %}
<article class="pico-background-red-600">{{error}}</article>
{% endif %}

{% if is_blocked %}

<article class="pico-background-red-600">
  {% translate 'Your account is blocked and you will not be able to run any batches.' context 'new-batch-your-account-is-blocked' %}
</article>

{% endif %}

<form method="POST">
  {% csrf_token %}
  <fieldset>
    {% if multiple_wikis %}
    <label for="wikibase">{% translate 'Wikibase' context 'new-batch-wikibase' %}</label>

    <select name="wikibase" id="wikibase">
      {% for wikibase in wikibases %}
      <option value="{{ wikibase.url }}">{{ wikibase.url }} ({{ wikibase.description|default:"No description" }}) </option>
      {% endfor %}
    </select>
    {% else %}
    <input name="wikibase" type="hidden" value="{{ wikibases.0.url }}" />
    {% endif %}

    <label for="batch_type">{% translate 'Command format' context 'new-batch-command-format' %}</label>

    <select name="type" id="batch_type">
      <option value="v1" {% if batch_type == "v1" %}selected{% endif %}>V1</option>
      <option value="csv" {% if batch_type != "v1" %}selected{% endif %}>CSV</option>
    </select>

    <input type="text" name="name" aria-label="batch name"
      placeholder="{% translate 'Custom batch name...' context 'new-batch-custom-batch-name' %}"
      {% if name %}value="{{name}}" {% endif %}>

    <label>
      <input type="checkbox" name="block_on_errors" role="switch" >
        {% translate 'Block batch if a command fails' context 'new-batch-block-batch-if-a-command-fails' %}
      <em data-tooltip="{% translate 'The batch will stop processing if a command gives an error.' context 'new-batch-the-batch-will-stop' %}">(i)</em>
    </label>

    <label>
      <input type="checkbox" name="do_not_combine_commands" role="switch" >
        {% translate 'Do not combine commands' context 'new-batch-do-not-combine-commands' %}
      <em data-tooltip="{% translate 'Commands targeting the same entity will not be combined into one edit.' context 'new-batch-commands-targeting' %}">(i)</em>
    </label>

    <input type="file" name="file" formenctype="multipart/form-data" />
    <input type="submit" value="Upload" />

    <textarea name="commands" aria-label="commands" placeholder="{% translate 'Enter your commands here...' context 'new-batch-enter-your-commands-here' %}"
      style="height: 400px">{% if commands %}{{commands}}{% endif %}</textarea>
  </fieldset>
  {% if is_autoconfirmed %}
  <input type="submit" value="Create" />
  {% else %}
  <input type="submit" value="Preview" />
  <small>
    {% translate 'Note: only autoconfirmed users can run batches.' context 'new-batch-note-only-autoconfirmed' %}
  </small>
  {% endif %}
</form>
{% endblock %}
