{% extends "layout.html" %}
{% load i18n %}

{% block pagetitle %}
{% translate 'QuickStatements 3.0 - Statistics' context 'statistics-quickstatements-statistics' %}
{% endblock pagetitle %}

{% block content %}

<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/Chart.js/4.4.1/chart.umd.min.js"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/chartjs-plugin-zoom/2.2.0/chartjs-plugin-zoom.min.js"></script>

<h1>
  {% if username %}
    {% blocktranslate with 1=username context 'statistics-title-username' %} Statistics of {{1}} {% endblocktranslate %}
  {% else %}
    {% translate 'Statistics' context 'statistics-title' %}
  {% endif %}
</h1>

<h2> {% translate 'All-time numbers' context 'statistics-all-time-numbers' %} </h2>

<div
  {% if username %}
  hx-get="{% url 'statistics_all_time_counters_user' username=username %}"
  {% else %}
  hx-get="{% url 'statistics_all_time_counters' %}"
  {% endif %}
  hx-trigger="load delay:300ms"
>
  {% include 'statistics_all_time_counters.html' with loading=True %}
</div>

<div
  {% if username %}
  hx-get="{% url 'statistics_plots_user' username=username %}"
  {% else %}
  hx-get="{% url 'statistics_plots' %}"
  {% endif %}
  hx-trigger="load delay:300ms"
>
  {% include 'statistics_plots.html' with loading=True %}
</div>

{% endblock content %}
