{% load i18n %}

<h2> {% translate 'Cumulative number of batches' context 'statistics-cumulative-batches' %} </h2>

{% if loading %}
<div style="align-content: center; height: 300px;" aria-busy="true"></div>
{% else %}
<div>
  <canvas id="batchCumulativeCountChart"></canvas>
</div>
{% endif %}

<h2>
  {% if username %}
  {% translate 'Cumulative number of edits' context 'statistics-edits-only' %}
  {% else %}
  {% translate 'Cumulative number of edits and new editors' context 'statistics-edits-and-editors' %}
  {% endif %}
</h2>

{% if loading %}
<div style="align-content: center; height: 300px;" aria-busy="true"></div>
{% else %}
<div>
  <canvas id="editorsAndEditsCumulativeChart"></canvas>
</div>
{% endif %}

<h2> {% translate 'Done and error commands per day' context 'statistics-done-and-error-commands' %}  </h2>

{% if loading %}
<div style="align-content: center; height: 300px;" aria-busy="true"></div>
{% else %}
<div>
  <canvas id="commandCountChart"></canvas>
</div>
{% endif %}

{% if not loading %}

{{ all_dates_str|json_script:"all-dates-str" }}
{{ batches_per_day|json_script:"batches-per-day" }}
{{ commands_per_day|json_script:"commands-per-day" }}
{{ editors_and_edits_per_day|json_script:"editors-and-edits-per-day" }}

<script
  data-username="{% if username %}{{ username }}{% else %}{% endif %}"
  data-label-number-of-batches="{% translate 'Number of batches' context 'statistics-number-of-batches' %}"
  data-label-number-of-edits="{% translate 'Number of edits' context 'statistics-number-of-edits' %}"
  data-label-number-of-editors="{% translate 'Number of editors' context 'statistics-number-of-editors' %}"
  data-label-done-status="{% translate 'Done status' context 'statistics-done-status' %}"
  data-label-error-status="{% translate 'Error status' context 'statistics-error-status' %}"
  data-green="#008836"
  data-green-opaque="#0088367F"
  data-red="#A52A2A"
  data-red-opaque="#A52A2A7F"
  data-black="#353744"
  data-black-opaque="#3537447F"
  data-white="#F1F1F1"
  data-white-opaque="#F1F1F17F"
>
  const dateLabels = JSON.parse(document.getElementById("all-dates-str").textContent);
  const scriptData = document.currentScript.dataset;
  // ------------------------------------------------------
  const plugins = {
    zoom: {
      pan: {
        enabled: true
      },
      zoom: {
        wheel: {
          enabled: true
        },
        mode: 'xy',
        scaleMode: 'xy'
      },
      limits: {
        y: {min: 'original', max: 'original'}
      }
    }
  };
  // ------------------------------------------------------
  const ctx1 = document.getElementById('batchCumulativeCountChart');
  const batchesPerDay = JSON.parse(document.getElementById("batches-per-day").textContent);
  new Chart(ctx1, {
    type: 'line',
    data: {
      labels: dateLabels,
      datasets: [{
        label: scriptData.labelNumberOfBatches,
        data: batchesPerDay,
        borderColor: scriptData.green,
        backgroundColor: scriptData.greenOpaque,
        pointStyle: false,
        borderWidth: 2
      }]
    },
    options: {
      plugins: plugins
    }
  });
  // ------------------------------------------------------
  // ------------------------------------------------------
  // ------------------------------------------------------
  const ctxEditorsEdits = document.getElementById('editorsAndEditsCumulativeChart');
  var editorsBorderColor = scriptData.black;
  var editorsBackgroundColor = scriptData.blackOpaque;
  if (document.documentElement.dataset.theme === 'dark') {
    editorsBorderColor = scriptData.white;
    editorsBackgroundColor = scriptData.whiteOpaque;
  };
  const dataEditorsAndEdits = JSON.parse(document.getElementById("editors-and-edits-per-day").textContent);
  const dataEditors = dataEditorsAndEdits["editors"];
  const dataEdits = dataEditorsAndEdits["edits"];
  var editorsAndEditsDatasets = [
    {
      label: scriptData.labelNumberOfEdits,
      data: dataEdits,
      borderColor: scriptData.green,
      backgroundColor: scriptData.greenOpaque,
      pointStyle: false,
      yAxisID: 'y1',
      borderWidth: 2
    }
  ];
  const username = scriptData.username;
  var hideEditorsPlot = Boolean(username);
  if (!hideEditorsPlot) {
    editorsAndEditsDatasets.push({
      label: scriptData.labelNumberOfEditors,
      data: dataEditors,
      borderColor: editorsBorderColor,
      backgroundColor: editorsBackgroundColor,
      pointStyle: false,
      yAxisID: 'y',
      borderWidth: 2
    });
  }
  new Chart(ctxEditorsEdits, {
    type: 'line',
    data: {
      labels: dateLabels,
      datasets: editorsAndEditsDatasets,
    },
    options: {
        scales: {
            y: {
                type: 'linear',
                display: true,
                position: 'right',
                grid: {
                  drawOnChartArea: false,
                },
                title: {
                  display: true,
                  text: scriptData.labelNumberOfEditors
                }
            },
            y1: {
                position: 'left',
                title: {
                  display: !hideEditorsPlot,
                  text: scriptData.labelNumberOfEdits
                }
            }
        },
      plugins: plugins
    }
  });
  // ------------------------------------------------------
  // ------------------------------------------------------
  // ------------------------------------------------------
  const ctxCommands = document.getElementById('commandCountChart');
  const dataCommands = JSON.parse(document.getElementById("commands-per-day").textContent);
  const dataDone = dataCommands["done"];
  const dataError = dataCommands["error"];
  new Chart(ctxCommands, {
    type: 'bar',
    data: {
      labels: dateLabels,
      datasets: [
        {
          label: scriptData.labelDoneStatus,
          data: dataDone,
          borderColor: scriptData.green,
          backgroundColor: scriptData.greenOpaque,
          borderWidth: 1
        },
        {
          label: scriptData.labelErrorStatus,
          data: dataError,
          borderColor: scriptData.red,
          backgroundColor: scriptData.redOpaque,
          borderWidth: 1
        }
      ]
    },
    options: {
        scales: {
            x: {
                stacked: true
            },
            y: {
                stacked: true
            }
        },
        plugins: plugins
    }
  });
</script>
{% endif %}
