{% extends "layout.html" %}
{% load i18n %}

{% block pagetitle %}
{% translate 'QuickStatements 3.0 - Statistics' context 'statistics-quickstatements-statistics' %}
{% endblock pagetitle %}

{% block content %}

<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/Chart.js/4.4.1/chart.umd.min.js
"></script>

<h1> Statistics {% if username %} of {{ username }} {% endif %}</h1>

<h2> All-time numbers </h2>

<div
  {% if username %}
  hx-get="{% url 'statistics_all_time_counters_user' username=username %}"
  {% else %}
  hx-get="{% url 'statistics_all_time_counters' %}"
  {% endif %}
  hx-trigger="load delay:300ms"
>
  {% include 'statistics_all_time_counters.html' with loading=True %}
</div>


<h2> Cumulative number of batches </h2>

<div>
  <canvas id="batchCumulativeCountChart"></canvas>
</div>

<h2> Done and error commands per day </h2>

<div>
  <canvas id="commandCountChart"></canvas>
</div>

<script>
  const ctx1 = document.getElementById('batchCumulativeCountChart');
  var labels = [];
  var data = [];
  {% for date, count in batches_per_day.items %}
  labels.push('{{ date }}');
  data.push({{count}});
  {% endfor %}
  new Chart(ctx1, {
    type: 'line',
    data: {
      labels: labels,
      datasets: [{
        label: "{% translate 'Number of batches' context 'statistics-number-of-batches' %}",
        data: data,
        borderWidth: 1
      }]
    }
  });
  const ctx2 = document.getElementById('commandCountChart');
  var labels = [];
  var data_done = [];
  var data_error = [];
  {% for date, counts in commands_per_day.items %}
  labels.push('{{ date }}');
  data_done.push({{counts.0}});
  data_error.push({{counts.1}});
  {% endfor %}
  new Chart(ctx2, {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [
        {
          label: "{% translate 'Done status' context 'statistics-done-status' %}",
          data: data_done,
          borderWidth: 1
        },
        {
          label: "{% translate 'Error status' context 'statistics-error-status' %}",
          data: data_error,
          borderWidth: 1
        }
      ]
    },
    options: {
        scales: {
            x: {
                stacked: true
            },
            y: {
                stacked: true
            }
        }
    }
  });
</script>

{% endblock content %}
