{% load i18n %}

<div class="grid" style="text-align: center;">

  <article>
    <header>{% translate "Batches" %}</header>
    <b style="font-size: 1.5em;" {% if loading %}aria-busy="true"{% endif %}>{{ batches_count }}</b>
  </article>

  <article>
    <header>{% translate "Commands" %}</header>
    <b style="font-size: 1.5em;" {% if loading %}aria-busy="true"{% endif %}>{{ commands_count }}</b>
  </article>

  <article>
    <header>{% translate "Average number of commands per batch" %}</header>
    <b style="font-size: 1.5em;" {% if loading %}aria-busy="true"{% endif %}>{{ average_commands_per_batch }}</b>
  </article>

</div>

<div class="grid" style="text-align: center;">

  <article>
    <header>{% translate "Items created" %}</header>
    <b style="font-size: 1.5em;" {% if loading %}aria-busy="true"{% endif %}>{{ items_created }}</b>
  </article>

  <article>
    <header>{% translate "Editors" %}</header>
    <b style="font-size: 1.5em;" {% if loading %}aria-busy="true"{% endif %}>{{ editors }}</b>
    {% if username %}<br><span style="font-size: 0.7em;">Hey, it's you!<span>{% endif %}
  </article>

  <article>
    <header>{% translate "Edits" %}</header>
    <b style="font-size: 1.5em;" {% if loading %}aria-busy="true"{% endif %}>{{ edits }}</b>
  </article>

</div>
