{% extends "layout.html" %}
{% load i18n %}

{% block pagetitle %}
{% translate 'QuickStatements 3.0 - Statistics' context 'statistics-quickstatements-statistics' %}
{% endblock pagetitle %}

{% block content %}

<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/Chart.js/4.4.1/chart.umd.min.js
"></script>

<h1> Statistics {% if username %} of {{ username }} {% endif %}</h1>

<h2> All-time numbers </h2>

<div
  {% if username %}
  hx-get="{% url 'statistics_all_time_counters_user' username=username %}"
  {% else %}
  hx-get="{% url 'statistics_all_time_counters' %}"
  {% endif %}
  hx-trigger="load delay:300ms"
>
  {% include 'statistics_all_time_counters.html' with loading=True %}
</div>

<div
  {% if username %}
  hx-get="{% url 'statistics_plots_user' username=username %}"
  {% else %}
  hx-get="{% url 'statistics_plots' %}"
  {% endif %}
  hx-trigger="load delay:300ms"
>
  {% include 'statistics_plots.html' with loading=True %}
</div>

{% endblock content %}
